html, body, #app, #app > div {
  width: 100%;
  height: 100%;
  margin: 0;
}

/*#app > div {
  display: flex;
  flex-direction: row;
}*/

.home h1 {
	font-size: 48px;
  	color: white;
  	position: absolute;
  	top: 0;
  	right: 33%;
  	z-index: 1;
  	margin:0;
}

.section_text_module p {
	font-size: 18px;
}

.scrollArrow {
  width: 8%;
  height: 4%;
  background-image: url(./img/scroll_arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 88%;
  left: 46%;
  animation-name: scrollArrow;
  animation-duration: 2s;
  transition: 0.5s;
}

@keyframes scrollArrow {
  0% {top: 88%;}
  25% {top: 85%;}
  50% {top: 88%;}
  75% {top: 85%;}
  100% {top: 88%;}
}



.slideRight-enter {
  //transform: translate(100%);
}
.slideRight-enter.slideRight-enter-active {
  //transform: translate(0%);
  //transition: transform 1000ms ease-in-out;
}
.slideRight-leave {
  transform: translate(0%);
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      }
}
.slideRight-exit.slideRight-exit-active {
  transform: translate(110%);
  transition: transform 1000ms ease-in-out;
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      transition: none;
      }
}

.slideLeft-enter {
  //transform: translate(-100%);
}
.slideLeft-enter.slideLeft-enter-active {
  //transform: translate(0%);
  //transition: transform 1000ms ease-in-out;
}
.slideLeft-exit {
  transform: translate(0%);
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      }
}
.slideLeft-exit.slideLeft-exit-active {
  transform: translate(-110%);
  transition: transform 1000ms ease-in-out;
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      transition: none;
      }
}

.slideUp-enter {
  //transform: translate(-100%);
}
.slideUp-enter.slideUp-enter-active {
  //transform: translate(0%);
  //transition: transform 1000ms ease-in-out;
}
.slideUp-exit {
  transform: translateY(0%);
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      }
}
.slideUp-exit.slideUp-exit-active {
  transform: translateY(-110%);
  transition: transform 1000ms ease-in-out;
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      transition: none;
      }
}

.slideDown-enter {
  //transform: translate(-100%);
}
.slideDown-enter.slideDown-enter-active {
  //transform: translate(0%);
  //transition: transform 1000ms ease-in-out;
}
.slideDown-exit {
  transform: translateY(0%);
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      }
}
.slideDown-exit.slideDown-exit-active {
  transform: translateY(110%);
  transition: transform 1000ms ease-in-out;
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      transform: none;
      transition: none;
      }
}